<!doctype html> 
<html>
     <head> 
        <div id="auth"></div>
        <h1>목록</h1>
        <table id="board">
            <ul id="list">
            </ul>
        </table>
      </body>
      <button id="sendPost">글쓰기</button>
    </head>
         
<body> 
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script>
    window.onload = function() {

        let button = document.getElementById('button');
        let input = document.getElementById('input');
        let list = document.getElementById('list');
        let user = null;

        $.ajax({
              url: '/post/list',
              dataType: 'json',
              type: 'GET',
              success: function(result) {

                  for(var i =0; i< result.length; i++){
                    addList(result[i]);
                  };
                
              }
          });
          
          $.ajax({
              url: '/auth/loginCheck',
              dataType: 'json',
              type: 'GET',
              success: function(result) {
                  if(result.user){
                    user = result.user;
                    $("#auth").append("<button id='logout' onclick='logout()'>로그아웃</button>");
                    $("#auth").append("<div>" + result.user.nick + "</div>")
                  }else {
                    $("#auth").append("<button id='login' onclick='login()'>로그인</button>");
                  }
              }
          });
        
          
        addList = function(element){
            var temp = document.createElement('li');
            
            temp.innerHTML = '<tr>'
                + '<div><td  onclick="location.href = "/post/' + element.id + '"">' +element.title + '</td></div>'
                + '<div><td>' + element.content + '</td></div>'
                + '<div><td>' + element.writer + '</td></div>' 
                + '<div><input type="button" id="chat" value="채팅하기" onclick="createChat(' + element.id + ')"></button></table>';
            list.appendChild(temp);
        }
        // 채팅방 만들어야함 ( 구매자 + 판매자 )
        createChat = function(postId) {
            console.log("createChat  " + postId);
            
            $.ajax({
              url: '/room/',
              dataType: 'json',
              type: 'POST',
              data: {
                title: postId + ' chatting room',
                postId : postId
              },
              success: function(result) {
                  location.href = "/room/" + result.data.id;
              }
          });
        }  

        document.getElementById("sendPost").onclick = function() {
            location.href = "/post";
        }

        login = function() {
            location.href = "/auth/login";
        }

        logout = function() {
                $.ajax({
                    url: '/auth/logout' ,
                    dataType: 'json',
                    type: 'GET',
                    success: function(result) {
                        window.location.href='http://localhost:8081/';
                    }
                });
           }
    }
</script>