<!doctype html> 
<html>
     <head> 
        <div class = "login">
            <h1 class = "title">로그인 페이지</h1>
            <hr>
            <p class = "email">이메일: <input id="email" type="text" /></p>
            <p class = "nick">닉네임: <input id="nick" type="text" /></p>
            <p class = "pw">패스워드: <input id="pw" type="text" /></p>
            <p class = "button">
                <div id="button" v-if="isLogin">
                    <input type="button" id="login" value="로그인"></button>
                </div>
                <div v-else>
                    <input type="button" id="join" value="회원가입"></button>
                </div>
            </p>
            <input type="button" id="naverlogin" value="네이버로 로그인"/>
            <hr>
        </div>
    </head>
         
<body> 
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script>
    window.onload = function() {

        let login = document.getElementById('login');
        let join = document.getElementById('join');
        let email;
        let nick;
        let pw;
        let isLogin = true;
        if(document.pathname === 'login'){
            isLogin = false;
        }

        check = function(element) {
            if(element.length > 0) return true;
            else return false;
        }
        
        join.onclick = function() {
        email = document.getElementById('email').value;
        nick = document.getElementById('nick').value;
        pw = document.getElementById('pw').value;
        let isLogin = true;

        console.log(email);
        if(!check(email) || !check(nick) || !check(pw)) {
            return alert("칸이 비어 있습니다.");
         }

        const data = {
            'email' : email, 
            'nick' :  nick,
            'password' : pw
        };

        $.ajax({
            url: '/auth/join' ,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function(result) {
                alert("회원가입되었습니다.");
            },
            error: function(result){
                alert("에러가 있습니다.");
            }
        });
        }

        login.onclick = function() {
            email = document.getElementById('email').value;
            pw = document.getElementById('pw').value;
            if(!check(email) || !check(pw)) {
            return alert("칸이 비어 있습니다.");
            }

           const data = {
               'email' : email, 
               'password' : pw
           };
   
           $.ajax({
               url: '/auth/login' ,
               dataType: 'json',
               type: 'POST',
               data: data,
               success: function(result) {
                window.location.href='http://localhost:8081/';
               }
           });
           }

           document.getElementById("naverlogin").onclick = function() {
                window.location.href='http://localhost:8081/auth/naverlogin';
           }

    }
</script>