<!doctype html> 
<html>
<div>
    <form method="POST" enctype="multipart/form-data" id="excelForm">
    <table>
        <tbody>
            <tr>
                <td>제목</td>
                <td><input type="text" id="title" name="title" @value="title"></input></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type="text" id="content" name="content" @value="content"></input></td>
            </tr>
            <tr>
                <td>사진</td>
                <td>
                    <input type="file" id="file" name="data"/>
                </td>
                <td>
                    <div id="files" ></div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</div>
<div id="button"></div>
<button id='goBoard' onClick='goBoard()'>게시판으로 가기</button>
</html>
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script>
    
    window.onload = function() {

    let button = document.getElementById('button');
    let postId = "<%= postId%>";
    let title = "<%= title %>";
    let content = "<%= content %>";
    let image = "<%= image %>";
    let writerYn = "<%= writerYn %>";

    document.getElementById('title').value = title == "title" ? "" : title;
    document.getElementById('content').value = content == "content" ? "" : content;

    if(postId != -1){
        $("#button").append("<button id='updatePost' onClick='updatePost()'>수정</button>");
    }else {
        $("#button").append("<button id='sendPost' onClick='sendPost()' >전송</button>");
    }

    if(image.length >0){
        $("#files").append("<div>" + image + "</div><bu");
    }
    deletePost = function() {
        $.ajax({
            url: '/post/' + postId ,
            dataType: 'json',
            type: 'DELETE',
            success: function(result) {
                location.href = "/";
            }
        });
    }
    
    sendPost = function() {
        if(document.getElementById('file').value != null && document.getElementById('file').value.length > 0){
            var form = $('#excelForm')[0];

            var formData = new FormData(form);
            $.ajax({
                url : '/post/upload',
                type : 'POST',
                enctype: 'multipart/form-data',
                data : formData,
                contentType : false,
                processData : false        
             }).done(function(data){
                alert("전송되었습니다.");
            });
        }else {
         
            const data= {
                'title': document.getElementById('title').value,
                'content': document.getElementById('content').value,
                'image' : image
            };

             $.ajax({
            url: '/post' ,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function(result) {
                alert("전송되었습니다.");
            },
            error: function(result){
                alert("에러가 있습니다.");
            }
            });
            
        }
    }

    updatePost = function() {
        if(document.getElementById('file').value != null && document.getElementById('file').value.length > 0){
            var form = $('#excelForm')[0];

            var formData = new FormData(form);
            $.ajax({
                url : '/post/update/' + postId,
                type : 'POST',
                enctype: 'multipart/form-data',
                data : formData,
                contentType : false,
                processData : false        
             }).done(function(data){
                alert("전송되었습니다.");
            });
        }else {
            const data= {
                'title': document.getElementById('title').value,
                'content': document.getElementById('content').value,
                'image' : image
            };

             $.ajax({
            url: '/post/' + postId ,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function(result) {
                alert("전송되었습니다.");
            },
            error: function(result){
                alert("에러가 있습니다.");
            }
            });
            
        }
    }

    goBoard = function() {
        location.href = "/";
    }
}
</script>

