<!doctype html> 
<html>
<div>
    <table>
        <tbody>
            <tr>
                <td>제목</td>
                <td><input type="text" id="title" @value="title"></input></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type="text" id="content" @value="content"></input></td>
            </tr>
            <tr>
                <td>사진</td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
    <div>
        <button id="sendPost">저장</button>
        <button id="deletePost">삭제</button> 
    </div>
    <div>
        <button id="goBoard">게시판으로 가기</button> 
    </div>
</div>
</html>
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script>
    
    window.onload = function() {

    let button = document.getElementById('button');
    let postId = "<%= postId%>";
    let title = "<%= title %>";
    document.getElementById('title').value = title == "title" ? "" : title;
    let content = "<%= content %>";
    document.getElementById('content').value = content == "content" ? "" : content;
    let writerYn = "<%= writerYn %>";

    console.log("title  "  + content);
    
    document.getElementById("sendPost").onclick = function() {

        var title = document.getElementById('title').value;
        var content = document.getElementById('content').value;

        const data = {
                  'title' : title, 
                  'content' : content 
                };
        console.log(postId.length);
        if(postId.length > 0 && postId != '-1') {
            console.log("post");
            $.ajax({
            url: '/post/' + postId ,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function(result) {
                if ( result['result'] == true ) {
                   $('#result').html(result['msg']);
                }     
            }
            });
        }else {
            $.ajax({
              url: '/post/',
              dataType: 'json',
              type: 'POST',
              data: data,
              success: function(result) {
                  if ( result['result'] == true ) {
                      $('#result').html(result['msg']);
                  }
              }
            });
        }
    }

    document.getElementById("deletePost").onclick = function() {
        $.ajax({
            url: '/post/' + postId ,
            dataType: 'json',
            type: 'DELETE',
            success: function(result) {
                if ( result['result'] == true ) {
                $('#result').html(result['msg']);
            }     
            }
        });
    }

    document.getElementById("goBoard").onclick = function() {
        location.href = "/";
    }
}
</script>

